div.navcard_container {
    width:100%;
    height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}

ul#navcards {
    display: block;
    float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*position: relative;*/
}

ul#navcards li {
    float:left;
    margin-left: -18px;
}

li.navcard{
    display: block;
    /*background: url('./../images/navcard.png') no-repeat;*/
    /*http://www.colorzilla.com/gradient-editor/*/
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

    /*http://border-radius.com/*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow:  2px 2px 10px 5px rgba(12, 12, 12, 0.5);
    box-shadow:  2px 2px 10px 5px rgba(12, 12, 12, 0.5);

	height: 233px;
	width: 131px;
}

DISABLEDli.navcard :hover{
    background: rgb(181,189,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

ul#navcards li.one{
    transform:rotate(-5deg);
    -ms-transform:rotate(-5deg); /* IE 9 */
    -moz-transform:rotate(-5deg); /* Firefox */
    -webkit-transform:rotate(-5deg); /* Safari and Chrome */
    -o-transform:rotate(-5deg); /* Opera */
}
ul#navcards li.two {
    transform:rotate(1deg);
    -ms-transform:rotate(1deg); /* IE 9 */
    -moz-transform:rotate(1deg); /* Firefox */
    -webkit-transform:rotate(1deg); /* Safari and Chrome */
    -o-transform:rotate(1deg); /* Opera */
}
ul#navcards li.three {
    transform:rotate(-2deg);
    -ms-transform:rotate(-2eg); /* IE 9 */
    -moz-transform:rotate(-2deg); /* Firefox */
    -webkit-transform:rotate(-2deg); /* Safari and Chrome */
    -o-transform:rotate(-2deg); /* Opera */
}
ul#navcards li.four {
    transform:rotate(5deg);
    -ms-transform:rotate(5deg); /* IE 9 */
    -moz-transform:rotate(5deg); /* Firefox */
    -webkit-transform:rotate(5deg); /* Safari and Chrome */
    -o-transform:rotate(5deg); /* Opera */
}

ul#navcards li a {

}


ul#navcards li a.navcard {
	display: block;
	text-decoration: none;
	position: relative;
	margin-top: 	75px;
    bottom: 0;
    float: left;
    font-size: 2em;

    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */

    text-shadow: 0 0 1px rgba(0,0,0,0.3);   /*to simulates text antialiasing*/

    /*transform:translateX(100px);*/
    /*-ms-transform:translateX(100px);*/ /* IE 9 */
    /*-moz-transform:translateX(100px);*/ /* Firefox */
    /*-webkit-transform:translateX(100px);*/ /* Safari and Chrome */
    /*-o-transform:translateX(100px);*/ /* Opera */
}
